html, body {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
}

.fluid-cont {
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.cont-left{
    background-color: #ffffff;
    padding: 112px 10% 0;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.new-padding {
    padding-top: 112px !important;
}

.cont-right {
    background-image: url(../img/arabica-coffee-nendo-8.png);
    background-size: cover;
    flex: 2;
    height: 100%;
}

.logo{
    width: 178px;
    height: 51px;
    object-fit: contain;
    margin-bottom: 13px;
    margin-left: -13px;
}

.welcome {
    width: 292px;
    height: 17px;
    opacity: 0.5;
    font-family: Karla;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

.form {
    margin-top: 55px;
}

.title-small {
    width: 103px;
    height: 17px;
    font-family: Karla;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}

#mobile-box {
    margin-bottom: 25px;
}

.form-box{
    width: 100%;
  height: 50px;
  opacity: 0.5;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: #fcfcfc;
  margin-top: 15px;
  padding-left: 91px;
  color: #000000;
}

.box-img {
    background-color: white;
    background-image: url(../img/kuwait.png);
    background-position: 30px 10px;
    background-repeat: no-repeat;
}

.password-padding {
    padding-left: 30px !important;
}

.check {
    width: 24px;
  height: 24px;
  opacity: 0.5;
  border-radius: 2px;
  border: solid 1px #000000;
  background-color: #fcfcfc;
  vertical-align: middle
}

.forgot-row{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#remember-me{
    margin-left: 20px;
}


.black-button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: solid 1px #000000;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: 800;
}

@media (max-width:900px) {
    .cont-left {
        padding-top: 75px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* .form {
        margin-top: 85px;
    } */
}

.back-row {
    margin-bottom: 43px;
}

.back-text {
    width: 37px;
    height: 19px;
    font-family: Karla;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
    margin-left: 12.5px;
    vertical-align: middle;
}

.margin-50 {
    margin-bottom: 50px;
}

.margin-top-OTP {
    margin-top: 126px;
}

.mobile-btm {
    margin-bottom: 39px;
}

.otp-m-btm {
    margin-bottom: 37px;
}

.btn-m-btm {
    margin-bottom: 54px;
}

.resend-otp {
    text-align: center;
}

.light-black {
    color: rgba(0, 0, 0, 0.5) !important;
}

.dark-grey {
    color: #4d4f5c;
}

.new-pword-m {
    margin-bottom: 30px;
}

.pword-m-btm {
    margin-bottom: 40px;
}